header, main, footer {
    padding-left: 300px;
}

.row {
    margin-bottom: 0px;
}
.input-field div.error {
    color: red;
    font-size: 0.8rem;
    left: 0rem;
    position: relative;
    top: -1rem;
    transform: translateY(0%);
	text-align: right;
}

#toast-container {
  top: auto !important;
  right: auto !important;
  bottom: 10%;
  left:7%;
}
